.container
	.cube
		.figure.top.top-bottom
		.figure.bottom.top-bottom
		.figure.left.left-right
		.figure.right.left-right
		.figure.front.faces
		.figure.back.faces
img(src="https://giphy.com/embed/YlkgUp6r9YUs8", data-view="test")
